$primary-font-color: #141414;
$reverse-font-color: #f0f0f0;
$secondary-font-color: #302f34;

$primary-background-color: #f0f0f0;
$reverse-background-color: #141414;

$primary-title-font-size: 3.5rem;
$secondary-title-font-size: 2rem;
$primary-sub-title-font-size: 1.3rem;
$primary-content-font-size: 1.1rem;

$default-padding: 4rem;
$default-padding-top: 2rem;
$default-padding-bottom: 6rem;
$default-margin-bottom: 20rem;

$screen-size-tablet: 1024px;
$screen-size-mobile: 600px;

$primary-z-index: 10;
$menu-z-index: 20;
