@import "./variables.scss";

.contact-wrapper {
  background-color: $reverse-background-color;
  position: relative;
  padding: $default-padding;

  .title {
    font-size: $primary-title-font-size;
    padding-bottom: $default-padding-bottom;
    margin-top: 0;
    margin-bottom: 0;
    color: $reverse-font-color;

    @media (max-width: $screen-size-mobile) {
      font-size: $secondary-title-font-size;
      padding-bottom: 0;
    }
  }

  > .contents {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;

    @media (max-width: $screen-size-mobile) {
      padding: 4rem;
    }
  }
}
