@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
@import "./variables.scss";

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  color: $primary-font-color;
  background-color: $primary-background-color;
  font-family: "Noto Sans KR", sans-serif;
  font-size: $primary-content-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $primary-font-color;
}

::selection {
  color: $primary-background-color;
  background-color: $primary-font-color;
}

/* SCROLL */
*::-webkit-scrollbar {
  width: 0.8rem;
}
*::-webkit-scrollbar-track {
  background: #f0f0f0;
}
*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border: 0.1rem solid #e9897e;
  border-radius: 1rem;
}
* {
  // Firefox
  // scrollbar-color: #e9897e #f0f0f0;
}
