@import "./variables.scss";

@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/OpenSans-Bold.ttf");
  src: url("/assets/fonts/OpenSans-Medium.ttf");
  unicode-range: U+26, U+0030-0039;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("/assets/fonts/NotoSansKR-Bold.otf");
  src: url("/assets/fonts/NotoSansKR-Medium.otf");
  unicode-range: U+AC00-D7A3;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  color: $primary-font-color;
  background-color: $primary-background-color;
  font-family: "Open Sans", "Noto Sans KR", sans-serif;
  font-size: $primary-content-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $primary-font-color;
}

::selection {
  color: $primary-background-color;
  background-color: $primary-font-color;
}

/* SCROLL */
*::-webkit-scrollbar {
  width: 0.8rem;
}
*::-webkit-scrollbar-track {
  background: #f0f0f0;
}
*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border: 0.1rem solid #e9897e;
  border-radius: 1rem;
}
