@import "./variables.scss";

.title-wrapper {
  display: flex;
  justify-content: center;

  &:hover {
    .title-logo {
      transform: scale(0.9);
    }
  }

  .title-logo {
    width: 4rem;
    height: 4.5rem;
    transition: 1s ease-in-out;
  }

  .title {
    padding-left: 0.5rem;
    font-weight: bold;

    > * {
      margin: 0;
      letter-spacing: -0.05rem;
    }

    :first-child {
      font-size: 1.5rem;
    }
    :last-child {
      font-size: 1.4rem;
    }
  }

  @media (max-width: $screen-size-mobile) {
    padding-top: $default-padding * 2;
  }
}
