@import "./variables.scss";

.title-wrapper {
  display: flex;
  justify-content: center;

  .title-logo {
    width: 4rem;
    height: 4rem;
  }

  .title {
    padding-left: 0.5rem;
    font-weight: bold;

    > * {
      margin: 0;
    }

    :first-child {
      font-size: $primary-sub-title-font-size;
    }
    :last-child {
      font-size: $primary-content-font-size;
    }
  }

  @media (max-width: $screen-size-mobile) {
    padding-top: $default-padding * 2;
  }
}
