@import "./variables.scss";

.wavey-wrapper {
  height: 90vh;
  position: relative;
  padding: $default-padding;
  margin-bottom: $default-margin-bottom;

  @media (max-width: $screen-size-mobile) {
    margin-bottom: 10rem;
  }

  .text-wrapper {
    width: calc(100% - 2 * 4rem);
    height: inherit;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    // overflow: hidden;
    white-space: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $screen-size-mobile) {
      max-height: 50vh;
    }

    > * {
      font-size: $primary-title-font-size;
      margin: 0;

      @media (max-width: $screen-size-mobile) {
        font-size: $secondary-title-font-size;
      }
    }

    $default-point: 100rem;

    :first-child,
    :last-child {
      text-align: left;
      transform: translateX($default-point * -1);
    }

    :nth-child(2) {
      text-align: right;
      transform: translateX($default-point);
    }

    .back-name {
      color: $secondary-font-color;
      opacity: 0.9;
    }

    .front-name {
      color: $reverse-font-color;
      -webkit-text-stroke: 0.02rem $reverse-font-color;
    }
  }

  .wavey-scene {
    position: absolute !important;
    max-width: 70%;
    height: inherit !important;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: transparent;

    @media (max-width: $screen-size-mobile) {
      max-width: 70vh;
      max-height: 50vh;
    }
  }

  @media (max-width: $screen-size-mobile) {
    max-width: 70vh;
    max-height: 50vh;
  }
}
