@import "./variables.scss";

.work-wrapper {
  position: relative;
  padding: $default-padding;
  margin-bottom: $default-margin-bottom;

  @media (max-width: 600px) {
    margin-bottom: 10rem;
  }

  .title {
    font-size: $primary-title-font-size;
    padding-bottom: $default-padding-bottom;
    margin-top: 0;
    margin-bottom: 0;

    @media (max-width: $screen-size-mobile) {
      font-size: $secondary-title-font-size;
      padding-bottom: 0;
    }
  }

  > .contents {
    position: relative;
    display: flex;
    flex-direction: column;
    width: inherit;
    height: 60vh;

    @media (max-width: $screen-size-tablet) {
      padding: 4rem 0 4rem 0;
    }

    .works {
      display: flex;
      width: inherit;

      > * {
        left: 60vw;
        opacity: 0;
        transition: 1s;
        z-index: $disabled-z-index;
      }

      .selected {
        position: absolute;
        opacity: 1;
        left: 0;
        z-index: $primary-z-index;
      }
    }
    .controls-wrapper {
      position: absolute;
      width: 100%;
      height: calc(100% - 4rem);
      left: 0;
      right: 0;
      margin: 0 auto;

      .controls {
        position: relative;
        height: 100%;

        .prev,
        .next {
          width: 3rem;
          height: 3rem;
          font-size: 1.5rem;
          font-weight: bold;
          text-align: center;
          z-index: $primary-z-index;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          color: #e9897e;
          background-color: #ffffff;
          border-radius: 50%;
          border: 0.1rem solid;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          transition: 0.4s;

          &:hover {
            background-color: #f6d0cb;
          }
        }

        .prev {
          left: -1.5rem;
        }

        .next {
          right: -1.5rem;
        }
      }
    }
  }
}
